/**Header**/
.container{
    background: #2ad34f;
}

.navbar-brand{
    padding: 0px 0px 0px 0px;
}

.navbar .container{
    background: #6e1283;
    color: #ffffff
}

.navbar-nav {
    background: #1172aF;
}
/**End of Header**/

/*Main Content*/
#title{
    text-align: center;
}

#menu-name{
    text-align: center;
}
/*End of Main Content*/


/**Large Viewing Screens**/
@media(min-width: 1200px){
    s
}

/**Medium Viewing Screens**/
@media(max-width: 1199px) and (min-width: 992px){

}

/**Small Viewing Screens**/
@media(max-width: 991px) and (min-width: 768px){

}

/**Extra Small Viewing Screens**/
@media(max-width: 767px){
    
}